#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: white;
  }

  nav ul li{
    justify-content: space-between;
    list-style: none;
    padding: 20px 40px;
  }

  nav ul li a{
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
  }

  nav ul li a:hover{
    color: #E7C3FF;
  }