.project {
    text-decoration: none;
    color: #008080;
    /*display: inline-block;
    overflow: hidden;
    border: 2px solid lightblue;
    height: 220px;
    width: 280px;
    margin: 40px 100px;
    /*   background: url("https://res.cloudinary.com/dck40m3wf/image/upload/v1455459914/Portfolio/fancy-floral-pattern-384.jpg") repeat; */
  }

  figure {
      max-width: 200px;
  }
  
  .figure-pic {
    width: 100%;
    max-height: 200px;
  }
  
  figcaption {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }